body {
    padding-top: 50px;
    /*background-color: #9acfea;*/
    /*background-image: url("../img/logoweb.png");*/
    /*background-size: 100%;*/
    /*background-repeat: repeat ;*/

}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.jumbotron{
    background-image: url("../img/logoweb.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
